body {
  background-color: white;
  width: 100%;
  display: flex;
  margin: 0px;
  flex-direction: column;
  align-items: stretch;
  background-image: url("img/background2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "quicksand";
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 20px;
  justify-content: center;
  height: 50px;
  font-size: 16pt;
  padding-top: 50px;
}

* {
  margin: 0;
}

#burgermenu {
  display: none;
}

#burgermenu:popover-open {
  width: 80vw;
  height: 80vh;
  border: none;
  border-radius: 10px;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-self: center;
  justify-self: center;
}

#burgermenu:popover-open ul {
  gap: 0;
  justify-content: space-evenly;
  flex: 1;
}

nav ul {
  all: unset;
  display: flex;
  gap: 150px;
}

li {
  all: unset;
  display: flex;
}

li a {
  text-decoration: none;
  color: white;
}

#burger {
  all: unset;
  display: none;
  margin-left: auto;
}

/*index*/

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 982px;
  align-items: stretch;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  align-items: center;
  gap: 50px;
}

.text * {
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(253, 221, 192, 0.257);
  height: 300px;
  font-family: "quicksand";
  font-size: 20pt;
}

.quotetext {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Princess Sofia";
  padding: 20px;
  font-size: 30pt;
}

.skillheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 80px;
  color: white;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  padding: 80px;
  flex-wrap: wrap;
}

.skillcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
  width: 500px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
}

.skillcontent img {
  width: 250px;
}

.skillcontent span {
  opacity: 0;
  position: absolute;
  font-size: 50px;
  color: white;
}

.skillcontent:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.skillcontent:hover img {
  filter: brightness(0.5);
}

.skillcontent:hover span {
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  background-color: rgba(253, 221, 192, 0.257);
  color: white;
  font-family: "Quicksand";
  padding: 40px;
  margin-top: 80px;
  overflow: hidden;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.footercontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footercontent * {
  text-align: center;
}

/*Projekte*/

.cardheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  color: white;
  font-family: "Quicksand";
}

.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  gap: 40px;
}

.cards .card:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(253, 221, 192, 0.257);
  color: white;
  font-family: "Quicksand";
  padding: 50px;
  border-radius: 20px;
  flex: 3;
}

.picturecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.picturecard img {
  max-width: 350px;
  height: auto;
  width: 70%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*Über mich*/

.kachelheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 120px;
  color: white;
}

.kacheln {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 80px;
  overflow: hidden;
  flex-direction: column;
  gap: 40px;
}

.kacheln .row {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.kachel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "quicksand";
  background-color: rgba(253, 221, 192, 0.257);
  color: white;
  padding: 40px;
  flex: 2;
  gap: 20px;
  justify-content: center;
}

.picture {
  flex: 1;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}

.picture img {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding-right: 80px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lebenslaufheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: white;
}

.section-header {
  align-self: center;
  padding: 80px;
}

.lebenslaufheader .row {
  display: flex;
  height: 300px;
  align-items: stretch;
  padding: 0 100px;
}

.lebenslaufheader .row .left,
.lebenslaufheader .row .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
}

.lebenslaufheader .row .middle-left {
  width: 18px;
  border-right: 2px solid;
  margin-left: 80px;
  display: flex;
  align-items: center;
}

.lebenslaufheader .row .middle-right {
  width: 18px;
  border-left: 2px solid;
  margin-right: 80px;
  display: flex;
  align-items: center;
}

.row .middle-right .dot {
  background: white;
  border-radius: 0px 25px 25px 0px;
  height: 40px;
  width: 18px;
}

.row .middle-left .dot {
  background: white;
  border-radius: 25px 0px 0px 25px;
  height: 40px;
  width: 18px;
}

.filled-content {
  display: flex;
  background-color: rgba(253, 221, 192, 0.257);
  border-radius: 20px;
  align-items: center;
}

.filled-content h3 {
  font-style: bold;
}
.containercontent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/*Kontakt*/

.contactheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  color: white;
  font-family: "Quicksand";
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactform {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(253, 221, 192, 0.257);
  color: white;
  font-family: "Quicksand";
  margin: 80px;
  padding: 80px;
  border-radius: 20px;
}

.input-container {
  padding: 15px;
}
.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  display: inline-block;
  width: 50vw;
  background-color: white;
  border-radius: 16px;
  border-style: none;
  font-family: "Quicksand";
  font-style: normal;
}

button {
  display: flex;
  color: white;
  background: rgb(81, 22, 114);
  padding: 20px 60px;
  margin-top: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "quicksand";
  font-size: 20px;
}

button:hover {
  color: rgb(52, 30, 103);
  background: white;
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 15px 0;
}

h3 {
  font-size: 30px;
  font-weight: lighter;
}

h4 {
  margin: 5px 0;
}
/* Device Responsive */

@media (max-width: 1000px) {
  .lebenslaufheader .row {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: stretch;
    padding: 20px;
  }

  .lebenslaufheader .row div:not(.filled-content) {
    display: none;
  }

  .filled-content h3 {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
  }

  h2 {
    font-size: 35px;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
    font-weight: lighter;
    margin: 10px 0;
  }

  footer {
    flex-direction: column;
  }

  #desktop-navigation {
    display: none;
  }

  #mobile-navigation {
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }

  #burger {
    display: flex;
  }

  .card {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(253, 221, 192, 0.257);
    height: 300px;
    font-family: "quicksand";
    font-size: 16pt;
  }

  .quotetext {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Princess Sofia";
    padding: 50px;
    font-size: 16pt;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding: 80px;
    flex-wrap: wrap;
  }

  .skillcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
  }

  .skillcontent img {
    width: 200px;
  }

  .skillcontent span {
    opacity: 1;
    position: absolute;
    font-size: 30px;
    font-style: bold;
    color: white;
    padding-top: 300px;
  }

  .kacheln {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    overflow: hidden;
    flex-direction: column;
    gap: 40px;
  }

  .kachel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "quicksand";
    background-color: rgba(253, 221, 192, 0.257);
    color: white;
    padding: 40px;
    gap: 20px;
    justify-content: center;
    border-radius: 20px;
  }

  .picture {
    display: none;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(253, 221, 192, 0.257);
    color: white;
    font-family: "Quicksand";
    border-radius: 20px;
  }

  .contactheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 80px;
    color: white;
  }

  .commingheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 80px;
    color: white;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: rgba(253, 221, 192, 0.257);
    color: white;
    font-family: "Quicksand";
    padding: 80px;
    margin-top: 80px;
    overflow: hidden;
  }

  footer a {
    text-decoration: none;
  }

  .loader {
    font-size: 16px;
    display: inline-block;
    letter-spacing: 2px;
    font-family: "Quicksand";
    box-sizing: border-box;
    animation: spotlight 2s linear infinite alternate;
  }

  @keyframes spotlight {
    0%,
    20% {
      opacity: 1;
      letter-spacing: 1px;
    }
    80%,
    100% {
      opacity: 0;
      letter-spacing: 16px;
    }
  }
}

.comingheader {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comingheader span {
  text-wrap: nowrap;
}
/* Animation */
.loader {
  font-size: 60px;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 2px;
  font-family: "Quicksand";
  box-sizing: border-box;
  animation: spotlight 2s linear infinite alternate;
}

@keyframes spotlight {
  0%,
  20% {
    opacity: 1;
    letter-spacing: 2px;
  }
  80%,
  100% {
    opacity: 0;
    letter-spacing: 32px;
  }
}
